<?xml version="1.0"?>
<!--
/**
 * @category    Macron
 * @package     Macron_QuoteGraphQl
 * @author      Marian Zakareishvili <mariam.zakareishvili@scandiweb.com | info@scandiweb.com>
 * @copyright   Copyright (c) 2022 Scandiweb, Inc (http://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Macron_QuoteGraphQl">
        <sequence>
            <module name="Magento_QuoteGraphQl" />
        </sequence>
    </module>
</config>
