.VisibilityIcon {
    &:hover {
        cursor: pointer;
    }

    &-Icon {
        width: 22px;
    }
}

#visibilityButton {
    inset-block-start: 33px;
    inset-inline-end: 18px;
    position: absolute;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
    width: auto;
}
