.SearchOrder {
    position: relative;

    &-searchIcon {
        position: absolute;
        inset-block-start: calc((100% - 24px) - 20%);
        inset-inline-start: 10px;
        z-index: 10;
    }

    &-searchInput {
        padding-inline-start: 40px;
    }
}
