.ClientDetails {
    margin: 10px;
    width: 300px;
    word-wrap: break-word;

    &-Note {
        input {
            width: 100%;
        }

        button {
            margin: 10px 0px;
        }
    }

    &-EditNote {
        display: flex;
        justify-content: space-between;
    }

    &-NoteContainer {
        p {
            margin-block-end: 0px;
        }

        button {
            cursor: pointer;
            text-decoration: underline;
            margin-block-end: 10px;
        }
    }

    &-SaveNotes {
        display: flex;
        justify-content: center;
    }
}
