.OrderTypePopup {
    .Popup {
        &-Content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            padding-block-end: 30px;

            h3 {
                margin-block-start: 30px;
                width: 90%;
                text-align: center;
            }

            button {
                margin: 20px;
            }

            .Wrapper {
                padding: 50px;
            }
        }

        &-Header {
            width: 100%;
        }
    }
}

.OrderChooseCustomerPopup {
    .Popup {
        &-Content {
            .Button-GoBack {
                font-weight: bold;
                cursor: pointer;
            }

            .Wrapper {
                padding: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &-Header {
            width: 100%;
        }
    }

    &-SelectCustomer {
        min-width: 200px;
        margin: 10px;
    }
}
