.ProductActions {
    &-PatchDrop {
        line-height: 24px;
        padding: 0 7px 0 7px;
        margin-block-end: 24px;
        margin-block-start: 28px;

        .headingHolder:hover {
            cursor: pointer;
        }

        .headingHolder {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .opened {
                -ms-transform: rotate(180deg); /* IE 9 */
                transform: rotate(180deg);
            }
        }
    }

    &-PatchTable {
        margin-block-start: 22px;

        table {
            width: 100%;
        }

        input,select {
            height: 36px;
            min-width: 15px;
            font-size: 12px;
        }

        .long {
            width: 160px;
            padding: 6px 16px 6px 16px;
            margin-inline-start: 8px;
        }

        .short {
            width: 55px;
            padding: 8px;
        }

        .m-sides {
            margin-inline-start: 8px;
            margin-inline-end: 8px;
        }

        thead {
            background: #fff
        }

        th,td {
            width: 120px;
            min-width: 15px;
            padding: 8px;

            form {
                width: min-content;

                div {
                    position: relative;

                    span {
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        inset-inline-end: 12px;
                        inset-block-start: 6px;
                        z-index: 10;
                        pointer-events: none;
                    }
                }
            }
        }

        .p-0 {
            padding: 0;
        }

        .span-4 {
            width: 240px;
        }

        .span-1 {
            width: 15px;
        }

        .quantityHolder {
            display: flex;
            gap: 2px;
            justify-content: center;
            align-content: center;

            .buttonHolder {
                display: flex;
                flex-direction: column;
                gap: 2px;
                justify-content: center;
                align-content: center;

                button {
                    height: 16px;
                    width: 24px;
                    line-height: 12px;
                    background-color: #F6F5F5;
                    border: 1px solid #C4C4C4;
                    text-align: center;
                }

                button:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.addPatchBtn {
    display: flex;
    align-items: center;
    width: fit-content;
}

h4 {
    margin-inline-start: 10px;
    display: inline;
}

.iconHolder {
    display: inline-flex;
    align-content: center;
    justify-items: center;
}

.ic-lg {
    width: 24px;
    height: 24px;
}

.ic-sm {
    width: 14px;
    height: 14px;
}

.iconHolder:hover,.addPatchBtn:hover {
    cursor: pointer;
}

.headingHolder {
    border-bottom: 1px solid transparent;
}

.bottomBorder {
    border-bottom: 1px solid #E0E0E0;
}

.someHeight {
    height: 16px;
}
